body{
    color: blue;
}
p, li{
    color: rgb(132, 0, 255);
}

section h1{
    color: chocolate;
}

.second-heading{
    color: crimson;
}

#main-section{
    color: pink;
    font-weight: bold;
}

a{
    color: seagreen;
}
a:link{
 color: hotpink;
}

a:visted{
    color:indianred
}

a:hover{
    color:lawngreen
}

a:active{
    color:lightseagreen
}

a [href="http://facebook.com"] {
    color: cornflowerblue
}