body{
    color: blue;
}
p, li{
    color: rgb(132, 0, 255);
}

section h1{
    color: rgb(199, 83, 0);
}

.second-heading{
    color: crimson;
}

#main-section{
    color: pink;
    font-weight: bold;
}

a [href="http://google.ca"]{
    color: seagreen;
}
a:link{
    color: #939;
    text-decoration: none; 
}

a:visted{
    color:indianred
}

a:hover{
    color:lawngreen
}

a:active{
    color:lightseagreen
}

a [href="http://facebook.com"] {
    color: cornflowerblue
}

li:nth-child(odd) {
    background-color: maroon;
}
