
body{
    background-color: #aad4cf;
}

img{
    width: 80%;
    display: block;
    margin: auto;   
}

.image{
    position: relative;
    text-align: center;
    color: white;
}

.lonestarfish{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 5rem;
    font-size: 3rem;
}

.home,.story,.contact{
    display: inline;
    padding-left: 24rem;
   
}

 .starfish {
    width: 15%;
    height: 15%;
    float: left;
    clear: left;
    padding-left: 11.5rem;
    padding-top: 6rem;
}

.starfishheader{
    font-size: 38px;
    font-weight: bold;
    padding-left: 12rem;
    position: absolute;
    
}

P{
    font-size: 30px;
    padding-top: 4rem;
    word-wrap: break-word;
    margin-left: 10%;
    
}

.facts{
    margin-left: 10%;
    font-size: 2rem;
}

ul li{
    margin-left: 9.5%;
    font-size: 1rem;
    
}

.footer{
    position: absolute;
    right: 10%;
    padding: 2%;
    font-weight: bold;
}

.learnmore{
    margin-left: 10%;
    font-size: 2rem;
}

button{
    background-color: #aad4cf;
    margin-left: 1%;
    margin-top: 1%;
}

.options{
    margin-left: 1%;
    padding-top: 1%;
}

.name{
    margin-left: 1%;
    font-size: 1.5rem;
    font-weight: bold;
    
}

.email{
    margin-left: 1%;
    font-size: 1.5rem;
    font-weight: bold;
}

.message{
    margin-left: 1%;
    font-size: 1.5rem;
    font-weight: bold;
}

.border{
    border-style: solid;
    margin-left: 10%;
    margin-right: 10%;
}

.visit{
    margin-left: 1%;
}