html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block; 
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
---------------------------------------------------------------------

ul li{
    list-style-type: none;
    margin: 3em;
    justify-content: center;
    display: flex;
    text-decoration: wavy;
    color: chocolate;
}

.list {
    background-color: rgb(24, 24, 24);
}

.logo{

}

.search{
    width: 100%;
}

.main-banner{

    width: 100%;
    height: auto;
}

.welcome h1{
   color: white;
   position: absolute;
   top: 50%;
   left: 33%;
   transform: translate(-50%, -50%);
   font-family: sans-serif;
   font-size: 5rem;
   background-color: rgb(32, 32, 32);opacity: 0.9;
}

.welcome p{
   color: white;
   position: absolute;
   top: 65%;
   left: 33%;
   transform: translate(-50%, -50%);
   font-family: sans-serif;
   background-color: rgb(32, 32, 32);opacity: 0.9;
}

.connect{
    position: absolute;
   top: 68.5%;
   left: 6%;
   transform: translate(-50%, -50%);
   background-color: rgb(32, 32, 32);opacity: 0.9;
   color: orange;
}

/* this is where mobile starts
(do i get free marks for this comment? i kinda need it.) */
@media only screen and (max-width: 760px) { 




    .list{
        display: block;
        text-align: center;
        list-style-type: none;
    }

    .home{
        color: sandybrown;
        font-size: 2rem;
        text-decoration: none;
    }

    .about{
        color: sandybrown;
        font-size: 2rem;
        text-decoration: none;

    }

    .services{
        color: sandybrown;
        font-size: 2rem;
        text-decoration: none;

    }

    .team{
        color: sandybrown;
        font-size: 2rem;
        text-decoration: none;

    }

    .contact{
        color: sandybrown;
        font-size: 2rem;
        text-decoration: none;

    }

    .button{
        background-color: black;
        color: white;
        font-size: 1.5rem;
        padding: 2.5rem;
        margin-left: 2%;
        margin-bottom: 2%;
    }

    .aboutus h1{
        font-size: 4rem;
        font-family: sans-serif;
        font-weight: 750;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 2%;
    }

    .aboutus {
        background-color: rgb(238, 217, 150);
        margin-left: 5%;
    }

    .aboutus p{
        font-family: sans-serif;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 2%;
        font-weight: bold;
        
    }

    .aboutus img{
        max-width: 100%;
        height: auto;
    }

  
   
    .ourservices {
        font-size: 3.5rem;
        font-family: sans-serif;
        font-weight: 750;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 5%;
    }

    .digital {
        background-color: rgb(238, 217, 150);
        margin-left: 5%;
    }

    .digital p{
        font-family: sans-serif;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 2%;
        font-weight: bold;
    }


    .digital h2{
        font-size: 2.5rem;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 2%;
        font-weight: 700;
        font-family: sans-serif;

    }

    .marketing{
        background-color: rgb(238, 217, 150);
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 5%;
        
    }

    .marketing h2{
        font-size: 2.5rem;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 2%;
        font-weight: 700;
        font-family: sans-serif;
    }

    .marketing p{
    font-family: sans-serif;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 2%;
    font-weight: bold;
    }

    .video{
        background-color: rgb(238, 217, 150);
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 5%;
    }

    .video h2{
        font-size: 2.5rem;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 2%;
        font-weight: 700;
        font-family: sans-serif;
    }

    .video p{
        font-family: sans-serif;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 2%;
        font-weight: bold;
    }

    .web{
        background-color: rgb(238, 217, 150);
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 5%;
    }

    .web h2{
        font-size: 2.5rem;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 2%;
        font-weight: 700;
        font-family: sans-serif;
    }

    .web p{
        font-family: sans-serif;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 2%;
        font-weight: bold;
    }

    .print{
        background-color: rgb(238, 217, 150);
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 5%;
    }

    .print h2{
        font-size: 2.5rem;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 2%;
        font-weight: 700;
        font-family: sans-serif;
    }

    .print p{
        font-family: sans-serif;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 2%;
        font-weight: bold;
    }

    .vision img{
        max-width: 100%;
        height: auto;
    }

    .john{
        background-color: rgb(238, 217, 150);
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 5%;
        
    }

    .john img{
        max-width: 100%;
        height: auto;
    }

    .john h2{
        font-size: 2.5rem;
        margin-top: 5%;
        margin-left: 2%;
        font-weight: 700;
        font-family: sans-serif;
    }

    .john h3{
        font-weight: bolder;
        margin-left: 2%;
    }

    .john p{
        font-family: sans-serif;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 2.5%;
        font-weight: bold;
    }

    .teams h1{
        font-size: 4rem;
        font-family: sans-serif;
        font-weight: 750;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 5%;
    }

    .bob{
        background-color: rgb(238, 217, 150);
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 5%;
        
    }

    .bob img{
        max-width: 100%;
        height: auto;
    }

    .bob h2{
        font-size: 2.5rem;
        margin-top: 5%;
        margin-left: 2%;
        font-weight: 700;
        font-family: sans-serif;
    }

    .bob h3{
        font-weight: bolder;
        margin-left: 2.5%;
    }

    .bob p{
        font-family: sans-serif;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 2%;
        font-weight: bold;
    }

    footer{
        background-color: black;
        color: chocolate;
        padding: 2.5%;
    }

    .llink{
        color: chocolate;
    }

    .send{
        color: chocolate;
        background-color: black;
        font-size: 2rem;
    }

    .hours{
        font-size: 2rem;
        font-weight: bold;
    }

  
}



